@{
    ViewData["Title"] = "Home Page";
}
<h1>Merhaba Polat ve rabia</h1>
<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Ortak Çalışma Projesi</p>
    <ul>
        <li>Merhaba</li>
        <li>Beraber</li>
        <li>Çalışıyoruz</li>
        <li>Ortak Çalışma Projesi</li>
    </ul>
</div>

<p>acunmedya</p>
